<div *ngIf="accord.id_accord" class="text-right">
    <button (click)="deleteAccord()" class="btn btn-danger">Smazat</button>
</div>

<div class="form-inline">
    <div class="form-group">
        <label for="accordGroup">Základní tón&nbsp;</label>
        <select [(ngModel)]="accord.group" class="form-control form-control-sm" id="accordGroup">
            <option *ngFor="let groupEnumValue of accordGroupEnum" [value]="groupEnumValue">{{groupEnumValue}}</option>
        </select>
    </div>
</div>

<br>
<div class="form-inline">
    <div class="form-group">
        <label for="accordType">Typ akordu&nbsp;</label>
        <select [(ngModel)]="accord.type" class="form-control form-control-sm" id="accordType">
            <option *ngFor="let typeEnumValue of accordTypeEnum" [value]="typeEnumValue">{{typeEnumValue}}</option>
        </select>
    </div>
</div>
<br>

<div *ngIf="accord.sort" class="form-inline">
    <div class="form-group">
        <label for="accordSort">Pořadí&nbsp;</label>
        <input [(ngModel)]="accord.sort" type="number" class="form-control form-control-sm" id="accordSort">
    </div>
</div>

<br>
<table>
    <tr *ngFor="let values of accord.render_data; let row = index">
        <td *ngFor="let value of values; let column = index"
            (click)="onClick($event, row, column)"
            [class.remarkCell]="row === accordRemarkRow"
            [class.thresholdColumn]="column === accordThresholdColumn"
        >
            {{value}}
        </td>
    </tr>
</table>
<br>

<button (click)="saveData()" class="btn btn-success">Uložit</button>&nbsp;
<a routerLink="/list" class="btn btn-warning">Zpět</a>

<select id="itemSelect"
        class="form-control form-control-sm contextSelect"
        [size]="selectOption.length"
        [(ngModel)]="selectedValue"
        [style.top]="selectInputPosition.top"
        [style.left]="selectInputPosition.left"
        [class.d-none]="selectInputVisibility === false"
        (click)="onSelect()"
>
    <option *ngFor="let optionValue of selectOption" [value]="optionValue">{{optionValue}}</option>
</select>
